body {
    font-family: "Menlo", Arial, Helvetica, sans-serif;
    color:white;
    overflow:hidden;
    margin:0px; padding:0px;
    background-color:#333;
    font-family: 'Press Start 2P', cursive;
}

game {
    width:100vw; height:100vh;
    background-color:black;
    overflow:hidden;
}

game * {
    position: absolute;
    display: block;
    margin:0px; padding:0px;
    box-sizing: border-box;
    background-repeat: no-repeat;
}

player {
    width:124px; height: 135px;
    background-image: url(../images/player.png);
    cursor: pointer;
}
enemy {
    width: 170px; height: 102px;
    background-image: url(../images/enemy.png);
}
lasergun {
    
}

background {
    width: 100%; height: 100%;
    background-image: url('../images/space_background.png');
    background-repeat: repeat-x;
    background-position: bottom;
}